@model Gambling_my_beloved.Models.View.StockViewModel

<div class="row">
    <div class="col-auto">
        <div class="stock-nameplate" style="background-color: @Model.Stock.Id">@Model.Stock.Symbol</div>
    </div>
    
    <div class="col">@Model.Stock.Company.Name</div>
    
    
</div>