html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.stock-nameplate {
    border-radius: 4px;
    /*width: 50px;*/
    /*height: 20px;*/
    max-width: 120px;
    padding: 5px;
    
    font-family: "Open Sans", Roboto, Arial, sans-serif;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    text-decoration: none;
    text-underline: none;

    transition: all 0.3s ease;
}

.stock-nameplate-sm {
    max-width: 75px;
    font-size: 0.8em;
}

.stock-nameplate:hover {
    text-decoration: none;
    text-underline: none;
    color: white;

    /* add box shadow off to the bottom right that is black and fades out*/
    box-shadow: rgba(0,0,0,0.5) 4px 4px 20px 0px;
}

.price-change-bubble {
    border-radius: 10px;
    max-width: 100px;
    padding: 5px 10px;
    width: fit-content;

    font-family: "Open Sans", Roboto, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

td {
    display: table-cell;
    vertical-align: middle;
}

.no-dec {
    text-decoration: none;
}

.centerfix-col {
    display: flex; align-items: center;
}

.stock-card {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    
    padding: 0.75rem 0.75rem 0.75rem 0;
    
    transition: all 0.3s ease;
}

.stock-card:hover {
    background-color: #f8f9fa;
}

.stock-card-title {
    font-size: x-large;
    font-weight: 500;
}